@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', system-ui, -apple-system, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Proxima Nova', 'Montserrat', system-ui, sans-serif;
}
